.panel-admin-user-container {
    max-height: 700px;
    overflow-y: scroll;
}

summary {
    list-style: none;
    display: list-item;
    cursor: pointer;
}

details {
    display: block;
}

summary {
    list-style: none;
    display: list-item;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.img-profile-panel-admin{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;

}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 1rem;
    background-color: white;
    max-width: 800px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.accordion-title {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    align-items: center;
}

.accordion-content {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

details[open] .accordion-content {
    max-height: 230px;
}

.status-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

details > summary {
    cursor: pointer;
    font-weight: bold;
  }
  
  details[open] > summary {
    font-weight: normal;
  }
  
  details > summary {
    transition: font-weight 0.2s ease;
  }

