.footer-content{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 150px;
    color: white;
    li{
        font-size: 1.4rem;
        font-weight: bolder;
        list-style-type: none;
        cursor: pointer;
        &:hover{
            color: #f1f1f1;
        }
        
    }
    a{
        color: white;
        text-decoration: none;
    }
}



