<section *ngIf="currentUser" class="profile-header-user">
    <!-- Remplacez 'photo.jpg' par l'URL de la photo de l'utilisateur -->
    <figure class="ms-3" *ngIf="currentUser && currentUser.profilePicture && imageUrl" (click)="openFileInput()">
        <img class="img-profile" crossorigin="anonymous" [src]="imageUrl + currentUser.profilePicture" alt="Photo de l'utilisateur">
    </figure>

    <!-- Sinon, donne la possibilité d'ajouter une photo -->
    <button *ngIf="!currentUser.profilePicture" class="add-photo-button ms-3" (click)="openFileInput()" aria-label="Ajouter une photo">
        <!-- Icône ronde avec symbole de plus -->
        <span class="icon-plus">+</span>
    </button>
    <input  #fileInput type="file" style="display: none;" name="profilePicture" (change)="onFileChange($event)">

    <div class="ms-5">
        <!-- Remplacez 'Nom Prénom' par le nom complet de l'utilisateur -->
        <h2>{{currentUser.firstname}} {{currentUser.lastname}}</h2>
        <!-- Remplacez 'Rôle de l'utilisateur' par le rôle de l'utilisateur -->
        <h3 class="mt-3" >Patient</h3>
    </div>

</section>

<!-- Deuxième composant : informations de l'utilisateur --> 
<section  class="profile-main bg-white">

    <section *ngIf="currentUser">
        <h3 class="text-xlarge">Informations personnelles</h3>

        <p class="mt-4 text-medium"><strong>Adresse :</strong> {{currentUser.address}}</p>
        <p class="mt-4 text-medium"> <strong>Email :</strong> {{currentUser.email}}</p>
        <p class="mt-4 text-medium"><strong>Ville :</strong> {{currentUser.city}}</p>
    </section>
   
</section> 