<section *ngIf="currentUser" class="profile-header-user">
    <!-- Remplacez 'photo.jpg' par l'URL de la photo de l'utilisateur -->
    <figure class="ms-3" *ngIf="currentUser && currentUser.profilePicture && imageUrl" (click)="openFileInput()">
        <img class="img-profile" crossorigin="anonymous" [src]="imageUrl + currentUser.profilePicture" alt="Photo de l'utilisateur">
    </figure>

    <!-- Sinon, donne la possibilité d'ajouter une photo -->
    <button *ngIf="!currentUser.profilePicture" class="add-photo-button ms-3" (click)="openFileInput()" aria-label="Ajouter une photo">
        <!-- Icône ronde avec symbole de plus -->
        <span class="icon-plus">+</span>
    </button>
    <input  #fileInput type="file" style="display: none;" name="profilePicture" (change)="onFileChange($event)">

    <div class="ms-5">
        <!-- Remplacez 'Nom Prénom' par le nom complet de l'utilisateur -->
        <h2>{{currentUser.firstname}} {{currentUser.lastname}}</h2>
        <!-- Remplacez 'Rôle de l'utilisateur' par le rôle de l'utilisateur -->
        <h3 class="mt-3" >Patient</h3>
    </div>

</section>

<!-- Deuxième composant : informations de l'utilisateur --> 
<section  class="profile-main bg-white">

    <section *ngIf="currentUser">
        <h3 class="text-xlarge">Informations personnelles</h3>

        <p class="mt-4 text-medium"><strong>Adresse :</strong> {{currentUser.address}}</p>
        <p class="mt-4 text-medium"> <strong>Email :</strong> {{currentUser.email}}</p>
        <p class="mt-4 text-medium"><strong>Ville :</strong> {{currentUser.city}}</p>
        <app-button color="danger" (click)="openModalDeleteProfileUser()" class="mt-4 btn-sm">Supprimer mon profil</app-button>
    </section>
   
</section> 


<!-- Modal pour supprimer son profil -->
<dialog #modalDeleteProfileUser aria-modal="true" aria-labelledby="modalLabel" class="custom-modal">
    <div class="modal-header">
        <h2 id="modalLabel">Suppresion du compte</h2>
        <button class="close-button" (click)="closeModalDeleteProfileUser()" aria-label="Fermer">&times;</button>
    </div>
    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
        <p class="mt-2">Cette action est irréversible et entraînera la suppression totale de vos données.</p>
    </div>
    <div class="modal-footer">
        <app-button color="danger" (click)="closeModalDeleteProfileUser()" class="btn-md">Annuler</app-button>
        <app-button  class="btn-md ms-3" (click)="openModalDeleteProfileUserConfirm()" >Confirmer</app-button>
    </div>
</dialog>


<!-- Modal pour supprimer son profil -->
<dialog #modalDeleteProfileUserConfirm aria-modal="true" aria-labelledby="modalLabel" class="custom-modal">
    <div class="modal-header">
        <h2 id="modalLabel">Suppresion du compte</h2>
        <button class="close-button" (click)="closeModalDeleteProfileUserConfirm()" aria-label="Fermer">&times;</button>
    </div>
    <div class="modal-body">
        <p>Veuillez cliquer sur le bouton &quot;Confirmer&quot; pour supprimer immédiatement votre profil.</p>
    </div>
    <div class="modal-footer">
        <app-button color="danger" (click)="closeModalDeleteProfileUserConfirm()" class="btn-md">Annuler</app-button>
        <app-button  class="btn-md ms-3" (click)="deleteUser()" >Confirmer</app-button>
    </div>
</dialog>