/* Style général du formulaire */
@import '../../../scss/variables';

// Media queries au dessus de 768px
@media screen and (min-width: 768px) {
    .registration-form{
        display: flex;
    }

    .fieldset-registration{
        width: 50%;
    }
}

//Css mobil first

.registration-form {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fieldset-registration{
    width: 100%;
}
/* Style du titre du formulaire */
.form-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-control-registration-health-professional {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
