<section *ngIf="currentHealthProfessional" class="profile-header-health-professional">
    <div class="d-flex align-items-center">
        <figure class="ms-3" *ngIf="currentHealthProfessional && currentHealthProfessional.profilePicture && imageUrl" (click)="openFileInput()">
            <img class="img-profile" crossorigin="anonymous" [src]="imageUrl + currentHealthProfessional.profilePicture" alt="Photo de l'utilisateur">
        </figure>
        <button *ngIf="!currentHealthProfessional?.profilePicture" class="add-photo-button ms-3" (click)="openFileInput()" aria-label="Ajouter une photo">
            <span class="icon-plus">+</span>
        </button>
        <input  #fileInput type="file" style="display: none;" name="profilePicture" (change)="onFileChange($event)">
    
        <div class="ms-5">
            <h2>{{currentHealthProfessional.firstname}} {{currentHealthProfessional.lastname}}</h2>
            <h3 class="mt-3">Praticien</h3>
        </div>
    </div>
    

    <span class="status me-3"[ngClass]="'status-' + currentHealthProfessional.status">{{ currentHealthProfessional.status | status}}</span>
</section>
 
<!-- Deuxième composant : informations de l'utilisateur --> 
<section *ngIf="currentHealthProfessional" class="profile-main bg-white">

    <section>
        <h3 class="text-xlarge">Informations personnelles</h3>

        <p class="mt-4 text-medium"><strong>Adresse :</strong> {{currentHealthProfessional.address}}</p>
        <p class="mt-4 text-medium"> <strong>Email :</strong> {{currentHealthProfessional.email}}</p>
        <p class="mt-4 text-medium"><strong>Ville :</strong> {{currentHealthProfessional.city}}</p>
        <app-button color="danger" class="mt-4" (click)="openModalDeleteProfileHealthProfessional()">Supprimer mon profil</app-button>
    </section>
   
</section> 


<!-- Modal pour supprimer son profil -->
<dialog #modalDeleteProfileHealthProfessional aria-modal="true" aria-labelledby="modalLabel" class="custom-modal">
    <div class="modal-header">
        <h2 id="modalLabel">Suppresion du compte</h2>
        <button class="close-button" (click)="closeModalDeleteProfileHealthProfessional()" aria-label="Fermer">&times;</button>
    </div>
    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
        <p class="mt-2">Cette action est irréversible et entraînera la suppression totale de vos données.</p>
    </div>
    <div class="modal-footer">
        <app-button color="danger" (click)="closeModalDeleteProfileHealthProfessional()" class="btn-md">Annuler</app-button>
        <app-button  class="btn-md ms-3" (click)="openModalDeleteProfileHealthProfessionalConfirm()" >Confirmer</app-button>
    </div>
</dialog>


<!-- Modal pour supprimer son profil -->
<dialog #modalDeleteProfileHealthProfessionalConfirm aria-modal="true" aria-labelledby="modalLabel" class="custom-modal">
    <div class="modal-header">
        <h2 id="modalLabel">Suppresion du compte</h2>
        <button class="close-button" (click)="closeModalDeleteProfileHealthProfessionalConfirm()" aria-label="Fermer">&times;</button>
    </div>
    <div class="modal-body">
        <p>Veuillez cliquer sur le bouton &quot;Confirmer&quot; pour supprimer immédiatement votre profil.</p>
    </div>
    <div class="modal-footer">
        <app-button color="danger" (click)="closeModalDeleteProfileHealthProfessionalConfirm()" class="btn-md">Annuler</app-button>
        <app-button  class="btn-md ms-3" (click)="deleteUser()" >Confirmer</app-button>
    </div>
</dialog>