<nav class="nav-header" aria-label="Navigation principale">
    <button id="hamburger-icon" class="btn bg-none" [ngClass]="{iconexpanded: isExpanded}" (click)="toggleNavbar()" [attr.aria-expanded]="isExpanded ? 'true' : 'false'" aria-controls="mobile-menu" role="button" aria-label="Ouvrir le menu">
        <fa-icon [icon]="faBars" size="1x" class="text-white"></fa-icon>
    </button>
    <p class="text-logo text-white text-xlarge p-2">DocDirect</p>
    <ul id="navbar-content" class="navbar-content">
            <li><a [routerLink]="['/home']">Accueil</a></li>
            <li *ngIf="isUser()"><a [routerLink]="['/list-health-professional']" >Prendre rendez-vous</a></li>
            <li *ngIf="isUser() || isHealthProfessional()"><a [routerLink]="['/appointments']">Mes rendez-vous</a></li>
            <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/registration-user']">Créer un compte</a></li>
            <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/login-user']">Se connecter</a></li>
            <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/registration-health-professional']">Vous êtes praticien ?</a></li>
            <li *ngIf="isUser() || isHealthProfessional()"><a (click)="logout()">Déconnexion</a></li>
            <li *ngIf="isUser()"><a [routerLink]="['/profile']" aria-label="Profil utilisateur" ><fa-icon [icon]="faUser" size="2x" class="text-white"></fa-icon></a></li>
            <li *ngIf="isHealthProfessional()"><a [routerLink]="['/profile']" aria-label="Profil professionnel de la santé"><fa-icon [icon]="faUserDoctor" size="2x" class="text-white"></fa-icon></a></li>
    </ul>
    <ul id="mobile-menu" class="mobile-menu bg-gradient" [ngClass]="{open: isExpanded}">
        <li class="text-right">            
            <button class="btn bg-none" (click)="toggleNavbar()"><fa-icon [icon]="faBars" size="1x" class="text-white" aria-controls="mobile-menu" role="button" aria-label="Fermer le menu" ></fa-icon></button>
        </li>
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <li *ngIf="isUser()"><a [routerLink]="['/list-health-professional']">Prendre rendez-vous</a></li>
        <li *ngIf="isUser() || isHealthProfessional()"><a [routerLink]="['/appointments']">Mes rendez-vous</a></li>
        <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/registration-user']">Créer un compte</a></li>
        <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/login-user']">Se connecter</a></li>
        <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/registration-health-professional']">Vous êtes praticien ?</a></li>
        <li *ngIf="isUser() || isHealthProfessional()"><a [routerLink]="['/profile']" >Mon profil</a></li>
        <li *ngIf="isUser() || isHealthProfessional()"><a (click)="logout()">Déconnexion</a></li>
    </ul>
</nav>