<div class="search-health-professionals ">
    <!-- Barre de recherche -->
    <div class="search-bar bg-gradient" style="height: 100px;">
        <input type="search"
               class="p-3 rounded w-25 input-search-health-professionals"
               id="search-input"
               name="search"
               placeholder="Rechercher des professionnels de santé..."
               aria-label="Rechercher des professionnels de santé" />
    </div>

    <!-- Liste de cartes -->
        <section class="card-container mt-5 mb-5" *ngIf="healthProfessionals.length > 0">
            <ng-container *ngFor="let healthProfessional of healthProfessionals">  
                <app-card-health-professional *ngIf="healthProfessional.status !== 'pending' && healthProfessional.status !== 'rejected'" [healthProfessional]="healthProfessional" style="display: contents;"></app-card-health-professional>
            </ng-container>
        </section>
</div>
