<article class="card" [attr.aria-labelledby]="'card-title-' + healthProfessional.id">
    <header class="card-header">
        <h2 id="card-title-{{healthProfessional.id}}" class="card-title">
            {{healthProfessional.lastname}} {{healthProfessional.firstname}}
        </h2>
    </header>
    <table class="w-100">
        <tbody class="body-table-card" *ngIf="groupedAvailabilities">
          <!-- Parcourez les jours de la semaine -->
          <tr class="d-flex flex-column" *ngFor="let dayOfWeek of groupedAvailabilities">
            <!-- Afficher le jour de la semaine -->
            <td class="mx-auto mb-1">{{ dayOfWeek.dayOfWeek }}</td>
            <td class="mx-auto mb-3">{{ dayOfWeek.availabilities[0].dateOfWeek | dateFormatter }}</td>
            <td>
              <!-- Parcourir les disponibilités pour ce jour de la semaine -->
              <ul>
                <li class="li-card" *ngFor="let availability of dayOfWeek.availabilities" (click)="onSelectAvailability(availability)" [ngClass]="{'active': selectedAvailability === availability}">
                  {{ availability.startTime }} 
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    <footer class="card-footer">
        <button class="btn btn-primary">Prendre rendez-vous</button>
        <!-- Ajoutez des actions ou des liens si nécessaire -->
    </footer>
</article>