/* Carte de base */
.card {
    margin-top: 2rem;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    width: 90%;
    max-width: 700px;
    min-width: 100px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

/* En-tête de la carte */
.card-header {
    background-color: #f5f5f5;
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.card-body {
    padding: 16px; 
}

.card-body p{
    margin-bottom: 1rem;
}

/* Pied de page de la carte */
.card-footer {
    background-color: #f5f5f5;
    padding: 12px 16px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
}

/* Titre de la carte */
.card-title {
    font-size: 1.25rem;
    margin: 0;
}

/* Description de la carte */
.card-description {
    font-size: 1rem;
    color: #666;
}

/* Bouton dans le pied de page */
.card-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Effet de survol du bouton */
.card-button:hover {
    background-color: #0056b3;
}

.body-table-card{
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    justify-content: space-between;
    padding: 20px;
}

.li-card{
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: rgba(67, 177, 255, 0.416);
    &:hover{
        background-color: #bdc0c287;
        border-radius: 3px;
        cursor: pointer;
    }
}

.img-profile-card{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }

}

.active{
    background-color: #5a5b5b87;
    border-radius: 3px;
}