<nav aria-label="Navigation principale">
    <button id="hamburger-icon" class="btn bg-none" [ngClass]="{iconexpanded: isExpanded}" (click)="toggleNavbar()" [attr.aria-expanded]="isExpanded ? 'true' : 'false'" aria-controls="mobile-menu" role="button" aria-label="Ouvrir le menu">
        <fa-icon [icon]="faBars" size="1x" class="text-white"></fa-icon>
    </button>

    <ul id="navbar-content" class="navbar-content">
        <div>
            <p class="text-white text-xlarge p-2">DocDirect</p>
        </div>
        <div class="d-flex align-items-center">
            <li><a [routerLink]="['/home']">Accueil</a></li>
            <li *ngIf="isUser()"><a [routerLink]="['/list-health-professional']" >Prendre rendez-vous</a></li>
            <li *ngIf="isHealthProfessional()"><a [routerLink]="['/home']">Consulter mes rendez-vous</a></li>
            <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/login-user']">Se connecter</a></li>
            <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/signup']">Vous êtes praticien ?</a></li>
            <li *ngIf="isUser() || isHealthProfessional()"><a (click)="logout()">Logout ?</a></li>
        </div>
    </ul>
    <ul id="mobile-menu" class="mobile-menu bg-gradient" [ngClass]="{open: isExpanded}">
        <div class="d-flex justify-content-between w-100 p-2 outline-light-gray"> 
            <p class="text-white text-large p-2">DocDirect</p>       
            <button class="btn bg-none" (click)="toggleNavbar()"><fa-icon [icon]="faBars" size="1x" class="text-white" ></fa-icon></button>
        </div>
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <li *ngIf="isUser()"><a [routerLink]="['/home']">Prendre rendez-vous</a></li>
        <li *ngIf="isHealthProfessional()"><a [routerLink]="['/home']">Consulter mes rendez-vous</a></li>
        <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/login-user']">Se connecter</a></li>
        <li *ngIf="!isUser() && !isHealthProfessional()"><a [routerLink]="['/signup']">Vous êtes praticien ?</a></li>
        <li *ngIf="isUser() || isHealthProfessional()"><a (click)="logout()">Logout ?</a></li>
    </ul>
</nav>