<form [formGroup]="formLoginUser" (ngSubmit)="onSubmit()" class="login-form mx-auto pt-5" aria-label="Formulaire de connexion" >
    <fieldset class="fieldset-form-login bg-white">
        <legend>Connexion</legend>

        <!-- Champ pour l'adresse e-mail -->
        <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre e-mail" formControlName="email" required aria-required="true">
        </div>

        <!-- Champ pour le mot de passe -->
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" formControlName="password" required aria-required="true">
        </div>

        <!-- Bouton de soumission -->
        <div>
            <app-button color="primary" class="mt-4">Se connecter</app-button>
            <span class="ms-3"><a [routerLink]="['/login-health-professional']" class="text-gray">Je suis praticien</a></span>
        </div>
        <ng-container *ngIf="errorMsg">
            <app-alert class="mt-3" message={{errorMsg}}></app-alert>
        </ng-container>

    </fieldset>
</form>
