<form [formGroup]="formLoginHealthProfessional" (ngSubmit)="onSubmit()" class="login-form mx-auto p-5" aria-label="Formulaire de connexion" >
    <fieldset class="fieldset-form-login bg-white">
        <legend>Professionnel</legend>

        <!-- Champ pour l'adresse e-mail -->
        <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Entrez votre e-mail" formControlName="email" required aria-required="true">
        </div>

        <!-- Champ pour le mot de passe -->
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input class="form-control"  type="password" id="password" name="password" placeholder="Entrez votre mot de passe" formControlName="password" required aria-required="true">
        </div>

        <!-- Bouton de soumission -->
        <div class="container-button-login-health-professional">
            <app-button color="primary" class="me-3">Se connecter</app-button>
            <span><a [routerLink]="['/registration-health-professional']"  class="text-gray">Demande de compte professionnel ?</a></span>
        </div>
        <ng-container *ngIf="errorMsg">
            <app-alert class="mt-3" message={{errorMsg}}></app-alert>
        </ng-container>
    </fieldset>
</form>
