@import '../../../scss/variables';


.fieldset-form-login{
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    legend{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
}

.container-button-login-health-professional{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
    span{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .container-button-login-health-professional{
    }
}