<div class="search-bar bg-gradient" style="height: 100px;">
    <input type="search"
           class="p-3 rounded w-25 input-search-health-professionals"
           id="search-input"
           name="search"
           placeholder="Rechercher des professionnels de santé..."
           aria-label="Rechercher des professionnels de santé" />
</div>
<h1 class="text-center mt-5">Rendez-vous à venir</h1>
<ng-container *ngIf="currentUser" >
    <ng-container *ngFor="let appointmentUser of currentAppointment" >
        <app-card-appointment *ngIf="currentAppointment" [appointment]="appointmentUser" [isUser]="true"></app-card-appointment>
    </ng-container>
</ng-container>
<ng-container *ngIf="currentHealthProfessional">
    <ng-container *ngFor="let appointmentHealthProfessional of currentAppointment" >
        <app-card-appointment [appointment]="appointmentHealthProfessional" [isUser]="false"></app-card-appointment>
    </ng-container>
</ng-container>