<div class="container-legal-notice">
    <h1 class="mt-4">Mentions Légales</h1>
    <p>Date de dernière mise à jour : <time datetime="2024-06-05">5 juin 2024</time></p>

    <section class="mt-4">
        <h2>Informations Générales</h2>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site :</p>
        <ul>
            <li><strong>Nom du site</strong> : DocDirect</li>
            <li><strong>URL du site</strong> : <a href="https://www.nomdusite.com">https://www.docdirect.com</a></li>
            <li><strong>Éditeur</strong> : Pintar Kevin</li>
            <li><strong>Adresse</strong> : 62 rue du praticien, Lille</li>
            <li><strong>Email</strong> : <a href="mailto:contact@nomdusite.com">kevinpintar59160&commat;gmail.com</a></li>
            <li><strong>Téléphone</strong> : Numéro de téléphone</li>
        </ul>
    </section>
 
    <section class="mt-4">
        <h2>Hébergement</h2>
        <p>Le site est hébergé par :</p>
        <ul>
            <li><strong>Nom de l'hébergeur</strong> : Nom de l'hébergeur</li>
            <li><strong>Adresse</strong> : Adresse de l'hébergeur</li>
            <li><strong>Email</strong> : <a href="mailto:support@nomdelhebergeur.com">kevinpintar59160&commat;gmail.com</a></li>
            <li><strong>Téléphone</strong> : Numéro de téléphone de l'hébergeur</li>
        </ul>
    </section>

    <section class="mt-4">
        <h2>Responsabilité</h2>
        <p>L'éditeur du site s'efforce de fournir sur le site des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
        <p>Tous les informations proposées sur le site sont données à titre indicatif, sont non exhaustives, et sont susceptibles d'évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
    </section>

    <section class="mt-4">
        <h2>Données Personnelles</h2>
        <p>Le site assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
        <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.</p>
        <p>Pour exercer ce droit, adressez votre demande à <a href="mailto:contact@nomdusite.com">kevinpintar59160&commat;gmail.com</a> en précisant l'objet de votre demande.</p>
    </section>

    <section class="mt-4">
        <h2>Cookies</h2>
        <p>Le site peut être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations.</p>
    </section>

    <section class="mt-4">
        <h2>Propriété Intellectuelle</h2>
        <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
        <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de la société.</p>
    </section>

    <section class="mt-4">
        <h2>Contact</h2>
        <p>Pour toute question relative aux mentions légales du site, vous pouvez nous contacter :</p>
        <ul>
            <li>Par email : <a href="mailto:contact@nomdusite.com">kevinpintar59160&commat;gmail.com</a></li>
            <li>Par courrier : 62 rue du praticien, Lille</li>
            <li>Par téléphone : 0707070707</li>
        </ul>
    </section>
</div>