// Classes utilitaires pour appliquer les couleurs au texte
.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-success {
    color: $success;
}

.text-info {
    color: $info;
}

.text-warning {
    color: $warning;
}

.text-danger {
    color: $danger;
}

.text-white {
    color: $white;
}

.text-light {
    color: $light;
}

.text-dark {
    color: $dark;
}

.text-gray {
    color: $gray;
}

.text-light-gray {
    color: $lightGray;
}

.text-dark-gray {
    color: $darkGray;
}

.text-red {
    color: $red;
}

.text-blue {
    color: $blue;
}

.text-green {
    color: $green;
}

.text-yellow {
    color: $yellow;
}

.text-orange {
    color: $orange;
}

.text-purple {
    color: $purple;
}

.text-teal {
    color: $teal;
}

.text-indigo {
    color: $indigo;
}
