// Utilisation des variables pour définir les tailles de police
.text-small {
    font-size: $font-size-small;
}

.text-base {
    font-size: $font-size-base;
}

.text-medium {
    font-size: $font-size-medium;
}

.text-large {
    font-size: $font-size-large;
}

.text-xlarge {
    font-size: $font-size-xlarge;
}

@font-face {
    font-family: 'Rubik-light';
    src: url('../assets/fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Rubik-regular';
    src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-light';
    src: url('../assets/fonts/Karla/static/Karla-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Karla-regular';
    src: url('../assets/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
    font-style: normal;
}