.form-group{
    margin: 0 auto;
    padding-top: 1rem;
    label{
        display: block;
        margin-bottom: 0.5rem;
    }
    input{
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1,5rem;
        line-height: 1.5;
        color: $black;
        background-color: $white;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        font-family: 'Karla', sans-serif;   
    }
}

/* Style des champs */
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control-select {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.dropdown-btn{
    height: 42px!important;
    display: flex!important;
    align-items: center;
}