.bg-gradient{
    background: linear-gradient(90deg, rgba(78,203,177,1) 0%, rgba(0,212,255,1) 100%);
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.mt-auto{
    margin-top: auto;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-capitalize{
    text-transform: capitalize;
}


@for $i from 0 through length($margin-values) - 1 {
    $margin-value: nth($margin-values, $i + 1);

    .mb-#{$i} {
        margin-bottom: $margin-value;
    }

    .mt-#{$i} {
        margin-top: $margin-value;
    }

    .ml-#{$i} {
        margin-left: $margin-value;
    }

    .mr-#{$i} {
        margin-right: $margin-value;
    }
}

@for $i from 0 through length($margin-values) - 1 {
    $margin-value: nth($margin-values, $i + 1);

    .p-#{$i} {
        padding: $margin-value;
    }

    .pb-#{$i} {
        padding-bottom: $margin-value;
    }

    .pt-#{$i} {
        padding-top: $margin-value;
    }

    .pl-#{$i} {
        padding-left: $margin-value;
    }

    .pr-#{$i} {
        padding-right: $margin-value;
    }
}