.bg-gradient{
    background: #3986e4;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.mt-auto{
    margin-top: auto;
}


.h-100{
    height: 100%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-capitalize{
    text-transform: capitalize;
}

.text-decoration-none{
    text-decoration: none;
}

.outline-light-gray{
    outline: 1px solid $lightGray;
}

.border-bottom-ligh-gray{
    border-bottom: 1px solid $lightGray;
}

.rounded{
    border-radius: 5px;
}

.textarea-style {
    width: 100%;
    height: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}
 
.textarea-style:focus { 
    border-color: #007bff;
    outline: none;
}
// Boucle pour créer les classes de largeur
@each $width in $width-steps {
    .w-#{$width}{
        width: #{$width} + '%';
    }
}
@for $i from 0 through length($margin-values) - 1 {
    $margin-value: nth($margin-values, $i + 1);

    .mb-#{$i} {
        margin-bottom: $margin-value;
    }

    .mt-#{$i} {
        margin-top: $margin-value;
    }

    .ms-#{$i} {
        margin-left: $margin-value;
    }

    .me-#{$i} {
        margin-right: $margin-value;
    }

    .mx-#{$i} {
        margin-left: $margin-value;
        margin-right: $margin-value;
    }

    .my-#{$i} {
        margin-top: $margin-value;
        margin-bottom: $margin-value;
    }
}

@for $i from 0 through length($margin-values) - 1 {
    $margin-value: nth($margin-values, $i + 1);

    .p-#{$i} {
        padding: $margin-value;
    }

    .pb-#{$i} {
        padding-bottom: $margin-value;
    }

    .pt-#{$i} {
        padding-top: $margin-value;
    }

    .ps-#{$i} {
        padding-left: $margin-value;
    }

    .pe-#{$i} {
        padding-right: $margin-value;
    }

    .px-#{$i} {
        padding-left: $margin-value;
        padding-right: $margin-value;
    }

    .py-#{$i} {
        padding-top: $margin-value;
        padding-bottom: $margin-value;
    }
}

// Card component

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}