/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'font-sizes';
@import 'utilities';
@import 'forms';
@import 'buttons';
@import 'backgrounds';
@import 'colors';
@import 'modals';
@import 'customs';



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, legend, label, summary {
  font-family: 'Rubik-light', sans-serif;
}

p,li, a,button,span {
  font-family: 'Karla-light', sans-serif;
  font-size: 1rem;
}
fieldset{
  border-color: transparent;
}
label{
  font-family: 'Rubik-regular', sans-serif;
}


