/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'font-sizes';
@import 'utilities';
@import 'forms';
@import 'buttons';
@import 'backgrounds';
@import 'colors';
@import 'modals';
@import 'customs';



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, legend, label, summary,td, tr {
  font-family: 'Rubik-light', sans-serif;
}

p,li, a,button,span {
  font-family: 'Karla-light', sans-serif;
  font-size: 1rem;
}
fieldset{
  border-color: transparent;
}
label{
  font-family: 'Rubik-regular', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}